
<div class="container mt-4">

  <div class="d-flex mb-4 mt-4 justify-content-between">
    <%# image %>
    <div class="m-4">
      <% if @costume.images.attached? %>

        <% @costume.images.each do |image| %>
            <div class="img-fav">
              <%= cl_image_tag image.key, height: 400, width: 400, crop: :fill %>
                <%# Adding favorite button %>
              <div class="fav-button">
                <% if current_user %>
                  <% unless Bookmark.where({user: current_user, costume: @costume}).any? %>
                    <%= link_to costume_bookmarks_path(@costume),data: {turbo_method: :post}, class:"text-decoration-none btn-flat" do %>
                      <i class="fa-regular fa-heart"></i>
                    <% end %>
                  <% else %>
                    <%= link_to bookmark_path(Bookmark.where({user: current_user, costume: @costume}).first),data: {turbo_method: :delete}, class:"text-decoration-none btn-flat" do %>
                      <i class="fas fa-heart"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
              <%# End of adding favorite button %>
            </div>
        <% end %>
      <% end %>
    </div>
    <%# info %>
    <div class="m-4">
      <h2><%= "#{@costume.name}" %></h2>
      <h3><%= "#{@costume.price}" %>€ / day</h2>
      <% unless @costume.bookings.empty? %>
        <% @note ||= 0 %>
          <% @costume.bookings.each do |booking|%>
          <% @note += booking.review.rating %>
          <% end %>
        <% @average_note = @note / @costume.bookings.length %>
        <% @average_note.times do  %>
          <i class='fa-solid fa-star active'></i>
        <% end %>
        <% (5 - @average_note).times do  %>
          <i class='fa-solid fa-star active opacity-25'></i>
        <% end %>
      <% end %>

      <p>This wonderful costume is offered by <%= "#{@costume.user.user_name}" %> !</p>
      <%= link_to "Book this costume", new_costume_booking_path(@costume), class: "btn-flat"%>
      <% if current_user %>
        <% unless Bookmark.where({user: current_user, costume: @costume}).any? %>
          <%= link_to costume_bookmarks_path(@costume),data: {turbo_method: :post}, class:"text-decoration-none btn-flat" do %>
            <i class="fas fa-heart"></i> Add to favorite
          <% end %>
        <% else %>
          <%= link_to bookmark_path(Bookmark.where({user: current_user, costume: @costume}).first),data: {turbo_method: :delete}, class:"text-decoration-none btn-flat" do %>
            <i class="fas fa-heart"></i> Remove from favorite
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%# calendrier %>
    <div class="m-4">
      <%= simple_form_for [@costume, Booking.new], html: { data: { controller: 'flatpickr', flatpickr_dates_value: @costume.flatpickr_booked_dates_object, flatpickr_price_value: @costume.price }  } do |f| %>
        <%= f.input :start_date,
                    label: false,
                    as: :string,
                    input_html: {
                      class: 'd-none',
                      data: {
                        flatpickr_target: 'startDateInput',
                        dynamic_booking_price_target: 'startDateInput',
                        action: 'change->flatpickr#updatePrice'
                      }
                    } %>
        <%= f.input :end_date,
                    label: false,
                    as: :string,
                    input_html: {
                      class: 'd-none',
                      data: {
                        flatpickr_target: 'endDateInput',
                        dynamic_booking_price_target: 'endDateInput',
                        action: 'change->flatpickr#updatePrice'
                      }
                    } %>
        <div class="d-flex justify-content-around align-items-center">
          <div>
            <%= f.submit 'Book now!', class: 'btn btn-primary' %>
          </div>
          <div>
            Total price: <span data-flatpickr-target="priceHolder"><%= @costume.price%></span> €
          </div>
        </div>
      <% end %>
    </div>
  </div>

    <p style="text-align: justify"><%= "#{@costume.description}" %></p>

    <% if current_user == @costume.user %>
      <%= link_to "Edit", edit_costume_path(@costume), class: "btn-flat"%>
      <%= link_to "Delete",
          costume_path(@costume),
          class: "btn-flat",
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
    <% end %>

    <div class="map-comment-grid">
      <div>
        <h2 class="mt-4">Reviews</h2>
          <% @costume.bookings.each do |booking| %>
            <%if booking.review%>
              <div class="review-card">
                <p class="pt-3">Posted by <%= booking.user.user_name %> <p>
                <% (1..booking.review.rating).to_a.each do |star| %>
                  <i class="fa-solid fa-star active"></i>
                <% end %>
                <p class="mt-3 pb-3"><%= booking.review.content %></p>
              </div>
            <% end %>
            <% (5 - (1..booking.review.rating).to_a.length).times do %>
              <i class="fa-solid fa-star active opacity-25"></i>
            <% end %>
            <p class="mt-3 pb-3"><%= booking.review.content %></p>
          </div>
        <% end %>
      </ul>
    </div>

        <div>
          <h2 class="mt-4">Costume's location</h2>
          <div style="width: 100%; height: 300px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
