<h1>My costumes</h1>
<%= @mycostumes %>

<h2> My client's pending bookings</h2>
<%= @pending_requests %>

<h2> My client's confirmed bookings</h2>
<%= @confirmed_requests %>

<h1> My bookings </h1>
<%= @mybookings %>

<h2> My pending bookings</h2>
<%= @pending_bookings %>

<h2> My confirmed bookings</h2>
<%= @confirmed_bookings %>
