<div class="container mt-4">

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">My bookings</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">My requests</button>
      <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">My costumes</button>
    </div>
  </nav>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <h2 class="mt-4 mb-4"> My pending bookings</h2>
          <% @pending_bookings.each do |request| %>
            <div class="card-product mb-4">
              <% if request.costume.images.attached? %>
              <%= cl_image_tag request.costume.images.first.key, crop: :fill  %>
              <% end %>
              <div class="card-product-infos">
                <h2> <%= request.costume.name %> </h2>
                <p> Price : <%= request.costume.price * (request.end_date - request.start_date).to_i %> € </p>
                <p> From <%= request.start_date %> to <%= request.end_date %> </p>
                <p> Wait for <%= request.costume.user.user_name %> to accept your request !</p>
              </div>
            </div>
          <% end %>

      <h2 class="mt-4 mb-4"> My confirmed bookings</h2>
          <% @confirmed_bookings.each do |request| %>
           <div class="card-product mb-4">
              <% if request.costume.images.attached? %>
              <%= cl_image_tag request.costume.images.first.key, crop: :fill  %>
              <% end %>
              <div class="card-product-infos">
                <h2> <%= request.costume.name %> </h2>
                <p> Price : <%= request.costume.price * (request.end_date - request.start_date).to_i %> € </p>
                <p> From <%= request.start_date %> to <%= request.end_date %> </p>
                <p> <%= request.costume.user.user_name %> has accepted your request ! </p>
              </div>
            </div>
          <% end %>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <h2 class="mt-4 mb-4"> My client's pending requests</h2>
        <% @pending_requests.each do |request| %>
          <div class="card-product mb-4">
              <% if request.costume.images.attached? %>
              <%= cl_image_tag request.costume.images.first.key, crop: :fill  %>
              <% end %>
              <div class="card-product-infos">
                <h2> <%= request.costume.name %> </h2>
                <p> Price : <%= request.costume.price * (request.end_date - request.start_date).to_i %> € </p>
                <p> From <%= request.start_date %> to <%= request.end_date %> </p>
                <div class="d-flex justify-content-between">
                  <p> <%= request.user.user_name %> is waiting for your answer ! </p>
                  <%= button_to "confirm", accept_path(request), class:"btn-flat btn-sm"%>
                </div>
            </div>
          </div>
        <% end %>

      <h2 class="mt-4 mb-4"> My client's confirmed requests</h2>
        <% @confirmed_requests.each do |request| %>
          <div class="card-product mb-4">
            <% if request.costume.images.attached? %>
            <%= cl_image_tag request.costume.images.first.key, crop: :fill  %>
            <% end %>
            <div class="card-product-infos">
              <h2> <%= request.costume.name %> </h2>
              <p> Price : <%= request.costume.price * (request.end_date - request.start_date).to_i %> € </p>
              <p> From <%= request.start_date %> to <%= request.end_date %> </p>
              <p> You already confirmed <%= request.user.user_name %>'s booking !</p>
            </div>

          </div>
        <% end %>

    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    </div>
  </div>


</div>
